.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 4px dashed #cb11e761;
}

.spreadsheet {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0 40px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.spreadsheet th {
    background: #f5f5f5;
    padding: 12px 8px;
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}

.spreadsheet td {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #ffffff;
}

.spreadsheet tr:hover {
    background-color: #f5f5f5;
}

.highlight {
    background-color: #cdfdffdb !important;
    border-color: #ffeeba !important;
}
a {
    color: rgb(255, 15, 231);
    text-decoration: none;
  }
.intro-box {
    background-color: #f5f5f5;
    padding: 0px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.content-box {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #11c3e761;
}

.home-link {
    position: absolute;
    top: 60px;
    right: 50px;
    text-decoration: none;
    color: #1ba4ff;
}

.home-link:hover {
    text-decoration: underline;
}

body {
    background-color: #a2a2a2;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .spreadsheet {
        display: block;
        overflow-x: auto;
    }
    
    .home-link {
        position: static;
        display: block;
        text-align: right;
        margin: 10px 0;
    }
}